@import url("./var.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #f1f1f1;
    font-family: var(--font-family);
}
h2{
    font-weight:700;
    font-size: var(--font-size-m-big);
}
p{
    font-weight: 450;
    text-wrap: pretty;
    font-size: var(--font-size-m-default);
}
a{
    text-decoration: none;
    color: inherit;
    font-size: var(--font-size-m-small);
}

ul{
    list-style: none;
}

@media screen and (min-width: 800px) {
    h2{
      font-size: var(--font-size-big);
    }
    p {
      font-size: var(--font-size-default);
    }
    a{
      font-size: var(--font-size-small);
    }
  }